*
!.gitignore
!alacritty
!alacritty/*
!fish
!fish/*
!foot
!foot/*
!git
!helix
!helix/*
!kitty
!kitty/*
!nushell
!nushell/*
!nvim
!nvim/*
!sway
!sway/*
!tmux
!tmux/*
!vim
!vim/*
!wofi
!wofi/*
!zellij
!zellij/*
!zsh
!zsh/*
